#popup {
    position: absolute;
    background-color: white;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}

.popupActive {
    display: block;
}

.popupInactive {
    display: none;
}

#popup #fundo {
    background-color: white;
    width: 0%;
    height: 0;
}

.content {
    height: 100%;
    width: auto;
    display: block;
}

iframe {
    width: 100%;
    position: relative;
    height: 100%;
}

#popup .content #titulo {
    font-family: fordAntenna;
    bottom: 0%;
    user-select: none;
    color: #002F6C;
    font-size: 32px;
    line-height: 30px;
}

#popup .content #prev-next {
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-top: 40px;
    /* font-weight: bold; */
}

.backBtn {
    cursor: pointer;
    float: right;
    color: rgb(143, 143, 143);
}

#popup .content #featureCount {
    font-family: fordAntenna;
    size: 16px;
    line-height: 24px;
    width: 50px;
    text-align: center;
    align-self: center;
    color: #4d4d4d;
}

#popup .content .carouselBtnActive {
    cursor: pointer;    
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    will-change: transform, background-color;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 15px;    
    background-color: #00095B;
    border-radius: 3px;
    user-select: none;

    color: #fff !important;
    text-decoration: none;

    font-family: 'Ford Antenna Cond';
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

#popup .content .carouselBtnActive:hover {
    background-color: #1700F4;
    transform: scale(1.07);
}

#popup .content .carouselBtnInactive {
    background-color: #afafaf;    
}

#popup .content .carouselBtnInactive:hover {
    background-color: #afafaf;
    transform: scale(1.0);
}

#popup .content .carouselBtnActive img {
    width: 50%;
    height: 50%;
    margin: auto;
}

#popup .content #btnNext img {
    transform: scaleX(-1);
}

.version {
    display: none;
}

/*iPad Landscape*/
@media screen and (orientation:landscape) and (max-width: 1024px) and (max-height: 768px) {
    .content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: 0 auto;
        height: 100%;
    }

    #btnVoltar {
        top: 0;
        right: 0;        
        align-self: flex-end;
    }

    .backBtn {
        text-align: right;
    }

    #video {        
        position: relative;
        height: 50%;
    }

    #divTitulo {
        position: relative;
        height: fit-content;
        margin: 15px 30px;
    }

    #popup .content #titulo{
        font-size:20px;
        top:0px;
        margin: 0;
    }

    #popup .content #prev-next {
        display: flex;
        justify-content: center;
        bottom: 0%;
        width: 100%;
        margin-bottom: 34px;
        margin-top: auto;
        /* font-weight: bold; */
    }

    #popup .content .carouselBtnActive {
        width: 40px;
        height: 40px;
    }

    .content #featureCount {        
        margin: auto 0px;
    }

    .version {
        display: block;
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 2;
        color: white;
        font-weight: 400;
    }
}

/* Mobile Portrait */
@media screen and (orientation:portrait) and (max-width: 800px) {
    .content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    #btnVoltar {
        top: 0;
        right: 0;
        align-self: flex-end;
    }

    .backBtn {
        text-align: right;
    }

    #video {
        display: flex;
        flex-flow: column;
        position: relative;
        width: 100%;
        height: 50%;
    }  

    iframe {
        height: 65%;
    }

    #divTitulo {
        display: flex;
        position: relative;
        height: fit-content;
        margin: 0 30px;
    }

    #popup .content #titulo{
        font-size:20px;
        margin: 20px 0;
    }

    #popup .content #prev-next {
        display: flex;
        justify-content: center;
        bottom: 0%;
        width: 100%;
        margin-bottom: 34px;
        margin-top: auto;
        /* font-weight: bold; */
    }

    #popup .content .carouselBtnActive {
        width: 2rem;
        height: 2rem;
    }
}

/* mobile landscape */
@media screen and (orientation:landscape) and (max-width: 850px) and (max-height: 450px) {
    #divTitulo {
        position: relative;
        height: fit-content;
        margin-bottom: 1%;
    }
    
    .content {
        width: 57%;        
        margin: 0 auto;
        height: 100%;
    }

    .backBtn {
        width: 52px;
        height: 52px;
    }
    
    .backBtn img {
        width: 32px;
        height: 32px;
        margin: 10px;
    }

    #video {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
    }

    iframe {
        width: 100%;
        height: 100%;
        
    }

    #divTitulo {
        margin: 1% auto;        
    }

    #popup .content #titulo {
        font-size: 14px;
        top: 0px;
        line-height: 20px;
    }

    #popup .content #prev-next {
        height: fit-content;
        align-items: baseline;
        margin-top: 10px;
    }

    #popup .content .carouselBtnActive {       
        margin: 0 15px;
        user-select: none;
        width: 2rem;
        height: 2rem;
    }    
}

@media screen and (orientation:landscape) and (max-height: 340px) {
    .content {
        width: 35%;        
        margin: 0 auto;
        height: 100%;
    }
}

/*iPad*/
@media screen and (orientation:portrait) and (min-width: 768px) {
    #video {        
        position: relative;
        height: 65%;
    }

    #divTitulo {
        margin: 32px 64px;
    }

    #popup .content #prev-next {
        margin-bottom: 42px;
    }

    #popup .content .carouselBtnActive {
        width: 40px;
        height: 40px;
    }

    .content #featureCount {        
        margin: auto 0px;
    }
}



/*iPad Pro*/

@media screen and (orientation:portrait) and (min-width: 1024px) {
    .content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    #btnVoltar {
        top: 0;
        right: 0;
        align-self: flex-end;
    }

    #video {        
        position: relative;
        height: 60%;
    }

    iframe {
        height: 70%;
    }

    #divTitulo {
        margin: 32px 64px;
    }

    #popup .content #prev-next {
        margin-bottom: 42px;
        margin-top: auto;
    }

    #popup .content .carouselBtnActive {
        width: 40px;
        height: 40px;
    }

    .content #featureCount {        
        margin: auto 0px;
    }
}

/*iPhoneX Landscape*/
@media screen and (orientation:landscape) and (width: 812px) and (height: 375px) {
    .content {
        width: 50%;
    }

    .backBtn {        
        /*margin-right: 85px;*/
    }

    #popup .content .carouselBtnActive {
        width: 2rem;
        height: 2rem;
    }
}



/*desktop*/
@media screen and (orientation: landscape) and (min-width: 1000px) and (max-width: 1230px) {
    #divTitulo {
        height: 5%;
        margin: 30px;
    }

    .content {
        width: 61%;
        margin: 0 auto;
    }

    #video {
        display: inline-block;
        width: 100%;
        height: 70%;
        /*margin-bottom: 3%;*/
    }

    .backBtn {
        width: 52px;
        height: 52px;
    }
    
    .backBtn img {
        width: 32px;
        height: 32px;
        margin: 10px;
    }
}



@media screen and (orientation: landscape) and (min-width: 1230px) {
    #divTitulo {
        height: 5%;
        margin: 15px 30px;
    }

    .content {
        width: 51%;
        margin: 0 auto;
    }

    .backBtn {
        width: 52px;
        height: 52px;
    }
    
    .backBtn img {
        width: 32px;
        height: 32px;
        margin: 10px;
    }

    #video {
        display: inline-block;
        width: 100%;
        height: 75%;
        /*margin-bottom: 3%;*/
    }

    #popup .content #titulo {
        margin-bottom: 2%;
        font-size: 19px;
    }

    #popup .content #prev-next {
        /*margin-top: 15px;*/
        /* font-weight: bold; */
    }
}

@media screen and (orientation: landscape) and (min-width: 1366px) {
    iframe {
        height: 93%;
    }

    #popup .content #prev-next {
        /*margin-top: 15px;*/
        /* font-weight: bold; */
    }

    .backBtn {
        width: 52px;
        height: 52px;
    }
    
    .backBtn img {
        width: 32px;
        height: 32px;
        margin: 10px;
    }
}

.iframe-container {
    position: relative;
    --aspect-ratio: 16/9;
    height: 0;
    padding-bottom: calc(100%/(var(--aspect-ratio)));
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}